{{> header}}

<div class="container">
    <div class="row mt-5 p-5">
        <h4 class="mx-auto">Add photo</h4>
    </div>
    <div class="col-md-12">
        <form action="/photos" method="post" class="form-row text-center">
                <div class="col-md-12 mb-3"> 
                    <label for="image">Image URL</label>
                    <input type="text" name= "image" placeholder="image url"  class="form-control" required> 
                </div>
            <div class="col-md-12">
                <button class="btn btn-outline btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>