{{> header}}


{{!-- <div class="container">
    <div class="row">
        <div class="col-md-12 text-center welcome pt-0">
            <h4 class="display-5 pt-5">Welcome {{currentUser.username}}</h4>
        </div>
    </div>
</div> --}}

<div class="container dashboard">
    <div class="row  justify-content-center">
        <a href="/photos"><div class="col-md-6 squares"><ion-icon name="image"></ion-icon><span class="dash-caption">  Photos</span></div></a>
        <a href="/contacts"><div class="col-md-6 squares"><ion-icon name="contacts"></ion-icon><span class="dash-caption">Contacts</span></div></a>
        
    </div>
    <div class="row justify-content-center">
        <a href="/bookmarks"><div class="col-md-6 squares"><ion-icon name="bookmarks"></ion-icon><span class="dash-caption">Bookmarks</span></div></a>
        
        <div class="col-md-6 squares"><ion-icon name="videocam"></ion-icon><span class="dash-caption">Videos <br> COMING SOON!</span></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <footer class="footer-dash">
                <a href="/logout"><ion-icon name="exit" class="logout"></ion-icon></a>
            </footer>
        </div>
    </div>
</div>
