.squares {
    background: gray;
    width: 160px;
    height: 160px;
    margin: 10px;
    border-radius: 10px;
    padding: 0;
}

.dashboard {
    position: relative;
    top: 230px;
}


ion-icon {
    color: white;
    position: relative;
    display: block;
    font-size: 40px;
    top: 25%;
    margin: 0 auto;
}

span.dash-caption {
    color: white;
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.footer-dash {
    height: 80px;
    width: 100%;
    background: gray;
    position: fixed;
    top: calc(100vh - 80px);
    left: 0;
}

.logout {
    margin-top: 20px;
}