body {

    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='17.3' stroke-opacity='0.94'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}



.squares {
    background: rgb(179, 44, 44);
    width: 160px;
    height: 160px;
    margin: 10px;
    border-radius: 10px;
    padding: 0;
}

.dashboard {
    position: relative;
    top: 230px;
}


ion-icon {
    color: white;
    position: relative;
    display: block;
    font-size: 40px;
    top: 25%;
    margin: 0 auto;
}

span.dash-caption {
    color: white;
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.footer-dash {
    height: 80px;
    width: 100%;
    background: gray;
    position: fixed;
    top: calc(100vh - 80px);
    left: 0;
}

.logout {
    margin-top: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Tip Calc Interface ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* NavBar */
 a.navbar-brand {
    color: blueviolet;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
    font-size: 40px;;


}
/* Text for the input placement/buttons/subtittle */
.text-center {
    color: ghostwhite;    
    font-family: Comic Sans MS, Comic Sans, cursive;

} 

/* Font and everything in the container for the main titles of the pages*/
.container {
    color: darkblue;
    background: rgba(218, 15, 218, .7);
    padding: 30px;;
    font-size: 30px;
    font-style: normal;
    font-family: Comic Sans MS, Comic Sans, cursive;

}